.home-container {
  background: radial-gradient(
    circle at center,
    #0a063d 0%,      /* purple-ish center */
    #0a063d 60%,     /* extend the purple farther */
    #080529 80%,     /* delay the darkening */
    #06041f 100%     /* edge stays the same */
  );
  min-height: 100vh;
  padding: 40px 20px;
  color: #E6EEF5; /* soft white text */
}

.home-title {
  font-family: 'Orbitron', sans-serif;
  color: white; /*old color: 00D177*/
  font-size: 3rem;
  font-weight: 700;
}

.section-container {
  font-size: 1.05rem;
  max-width: 1100px;      /* controls width */
  margin: 0 auto;        /* centers the section */
  padding: 25px 20px;    /* spacing inside */
  color: #E6EEF5;        /* soft white text */
}

.section-container p {
  text-align: center;
  max-width: 1050px;   /* optional: keeps lines from stretching too wide */
  margin: 0 auto;     /* centers the block itself */
}

.home-subtitle {
font-family: 'Orbitron', sans-serif;
  color: #D66BFF;        /* neon cyan, or whatever accent you choose */
  text-align: left;      /* forces left alignment */
  font-size: 1.8rem;     /* adjust as needed */
  font-weight: 600;      /* slightly bold but not too heavy */
  margin-bottom: 1rem;   /* spacing under the subtitle */
  margin-top: 1.5rem;    /* spacing above the subtitle */
}

.home-question {
font-family: 'Orbitron', sans-serif;
  color: #D66BFF;        /* neon cyan, or whatever accent you choose */
  text-align: left;      /* forces left alignment */
  font-size: 1.3rem;     /* adjust as needed */
  font-weight: 600;      /* slightly bold but not too heavy */
  margin-bottom: 1rem;   /* spacing under the subtitle */
  margin-top: 1.5rem;    /* spacing above the subtitle */
}

.text-image {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 750px;   /* or 50%, or whatever you want */
  height: auto;   /* keeps aspect ratio */
}

/*old pink color #FF006E*/